/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Background styles */
body {
    background-image: url("images/Login.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Container styles */
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Heading styles */
h1 {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Form styles */
form {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

input[type="text"],
input[type="password"] {
    width: 25%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
}

input[type="submit"],
input[type="reset"] {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    background-color: hsl(213, 85%, 3%);
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: hsla(12, 71%, 3%, 0.089);
}

/* Link styles */
a {
    color: hsl(0, 0%, 97%);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Error message styles */
.error {
    color: red;
    margin-top: 10px;
}

