body {
    background-image: url('images/RegisterProject.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff; 
}

h1 {
    color: #100f0f; 
    text-align: center;
    margin-top: 20px;
}

table {
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #fff; 
}

th {
    background-color: #f2f2f2;
    color: #333; 
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

a.btn {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

a.btn:hover {
    background-color: hsl(124, 41%, 7%);
}

a.btn-secondary {
    background-color: #000;
}

a.btn-secondary:hover {
    background-color: #666;
}
